[Unit]
Description=Run php for vesta web server
Documentation=https://www.vestacp.com/
After=network-online.target remote-fs.target nss-lookup.target
Wants=network-online.target

[Service]
Type=notify
PIDFile=/run/vesta-php.pid
EnvironmentFile=/etc/vesta/vesta.conf
ExecStart=/usr/sbin/php-fpm --nodaemonize -y /etc/vesta/php-fpm.conf
ExecReload=/bin/kill -USR2 $MAINPID
PrivateTmp=true
RuntimeDirectory=php-fpm
RuntimeDirectoryMode=0755
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
